group_groups:
    resource: "@GroupBundle/Resources/config/routing/groups.yml"
    prefix:   /groups
demande_groups:
    path:     /demandes/{id}
    defaults: { _controller: "GroupBundle:GroupsSetting:DemandeGroup" }
accepter_membre:
    path: /accepter/{id}
    defaults: { _controller: GroupBundle:GroupsSetting:accepter}
refuser_membre:
    path: /refuser/{id}
    defaults: { _controller: GroupBundle:Member:refuser }
members_groups:
  path:     /members/{id}
  defaults: { _controller: "GroupBundle:GroupsSetting:MemberGroup" }
