groups_index:
  path:     /
  defaults: { _controller: "GroupBundle:Groups:index" }

groups_show:
  path:     /{id}/show
  defaults: { _controller: "GroupBundle:Groups:show" }
  methods:  [GET, POST]

groups_new:
  path:     /new
  defaults: { _controller: "GroupBundle:Groups:new" }

groups_edit:
  path:     /{id}/edit
  defaults: { _controller: "GroupBundle:Groups:edit" }
  methods:  [GET, POST]
groups_delete:
  path:     /{id}/delete
  defaults: { _controller: "GroupBundle:Groups:delete" }
regoindre_group:
  path:     /regoindre/{id}
  defaults: { _controller: "GroupBundle:Member:regoindre" }
signal_group:
  path:     /signaler/{id}
  defaults: { _controller: "GroupBundle:Groups:signal" }
groups_search:
  path:     /search
  defaults: { _controller: "GroupBundle:Groups:search" }
image_delete:
  path:     /efface/{id}/{id2}
  defaults: { _controller: "GroupBundle:Groups:supprimerImage" }
commentaire1_delete:
  path:     /effacer/{id}/{id2}
  defaults: { _controller: "GroupBundle:Groups:supprimerCommentaire" }

