imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@UserBundle/Resources/config/services.yml" }
    - { resource: "@HotesBundle/Resources/config/services.yml" }
    - { resource: "@AdminBundle/Resources/config/services.yml" }
    - { resource: "@RelationBundle/Resources/config/services.yml" }
    - { resource: "@GroupBundle/Resources/config/services.yml" }
    - { resource: "@MeetingBundle/Resources/config/services.yml" }
    - { resource: "@MusicBundle/Resources/config/services.yml" }
    - { resource: "@ShopBundle/Resources/config/services.yml" }
    - { resource: "@EventBundle/Resources/config/services.yml" }
# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration


parameters:
    locale: en
    images_directory: '%kernel.project_dir%/web/'
    images_shop: '%kernel.project_dir%/web/shopImg'
    music_directory: '%kernel.project_dir%/web/music'
    bonPlan: '%kernel.project_dir%/web/img'


framework:
    templating:
        engines: ['twig']
    #esi: ~
    translator: ~
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    serializer: { enable_annotations: true }
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes:
      - '@FOSCKEditor/Form/ckeditor_widget.html.twig'
    globals:
      webp: '%kernel.project_dir%/web/'
# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        dql:
            string_functions:
                DAY: DoctrineExtensions\Query\Mysql\Day
                MONTH: DoctrineExtensions\Query\Mysql\Month
                YEAR: DoctrineExtensions\Query\Mysql\Year
                date: DoctrineExtensions\Query\Mysql\Date
                dateadd: DoctrineExtensions\Query\Mysql\DateAdd
# Swiftmailer Configuration
swiftmailer:
  transport: smtp
  encryption: tls
  host: smtp.gmail.com
  username: 'esprit.worldfriendship@gmail.com'
  password: 'sassouki'

sensio_framework_extra:
   router:
        annotations: false


fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: main
    user_class: UserBundle\Entity\User

    service:                               # this lines
        mailer: fos_user.mailer.twig_swift # this lines
    from_email:
        address: nacef.otay@esprit.tn
        sender_name: ADC Team
    registration:
        form:
            type: UserBundle\Form\RegistrationType
            # if you are using Symfony < 2.8 you should use the type name instead
            # type: app_user_registration
vich_uploader:
    db_driver: orm
    mappings:
        Album:
            uri_prefix:         /images
            upload_destination: '%kernel.root_dir%/../web/images'
            namer: vich_uploader.namer_uniqid
            delete_on_update:   true
            delete_on_remove:   true
        profil_images:
            uri_prefix:         /images
            upload_destination: '%kernel.root_dir%/../web/images'
            namer: vich_uploader.namer_uniqid
            delete_on_update:   true
            delete_on_remove:   true
        Blog:
          uri_prefix:         /images
          upload_destination: '%kernel.root_dir%/../web/images'
knp_paginator:
  page_range: 5
  default_options:
    page_name: page
    sort_field_name: sort
    sort_direction_name: direction
    distinct: true
  template:
    pagination: 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v4_pagination.html.twig'
    sortable: 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_sortable_link.html.twig'


fos_comment:
  db_driver: orm
  class:
    model:
      comment: BonPlansBundle\Entity\Comment
      thread: BonPlansBundle\Entity\Thread


assetic:
  bundles: [ "FOSCommentBundle" ]


jms_payment_paypal:
  return_url: http://localhost/pi-dev-web/web/app_dev.php/Shop
  cancel_url: http://localhost/pi-dev-web/web/app_dev.php/Shop
  useraction: commit
  debug: true
  username: alaeddin.tabai-facilitator_api1.esprit.tn
  password: 374DGDYJCPJLPXAL
  signature: ABRNi6p1GLEzHzbrbbgoj24qrkYLAWVnebG6awWaf7N.xzEVI7wIAScy

fos_message:
  db_driver: orm
  thread_class: GroupBundle\Entity\Thread
  message_class: GroupBundle\Entity\Message
  new_thread_form:
    type:               FOS\MessageBundle\FormType\NewThreadMultipleMessageFormType
    handler:            fos_message.new_thread_multiple_form.handler
    model:              FOS\MessageBundle\FormModel\NewThreadMultipleMessage
    name:               message
knp_snappy:
  temporary_folder: "%kernel.cache_dir%/snappy"
  process_timeout: 20 # In seconds
  pdf:
    enabled:    true
    binary:     "\"C:\\Program Files (x86)\\wkhtmltopdf\\bin\\wkhtmltopdf.exe\""
  image:
    enabled:    true
    binary:     "\"C:\\Program Files (x86)\\wkhtmltopdf\\bin\\wkhtmltoimage.exe\""
    options:    []
