<table id="tabAjax" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="60%">Nom de Groupe</th>
        <th width="40%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for g in groupe %}
        <tr>
            <td><strong>{{ g.nom }}</strong></td>
            <td style="text-align: center;">

                <a class="label label-warning"
                   href="{{ path('admin_affiche_signal') }}"
                   style="font-size: 100%;">liste des signals {{ g.nbrSignal }}<a/>
                    <br>

                    {% if g.nbrSignal >= 10 %}
                    <a class="label label-warning"
                       href="{{ path('admin_supprimer_groupe',{'id':g.id}) }}"
                       style="font-size: 100%;">Supprimer<a/>
                        {% endif %}
            </td>
        </tr>
    {% endfor %}





    </tbody>
</table>