user_blog:
  resource: "@UserBundle/Resources/config/routing/blog.yml"
  prefix:   /blog

user_homepage:
  path:     /
  defaults: { _controller: UserBundle:Profil:index }
user_profil:
  path:     /profil
  defaults: { _controller: UserBundle:Profil:index }
user_parameter:
  path:     /parameter
  defaults: { _controller: UserBundle:Profil:parameter }
user_album:
  path:     /album
  defaults: { _controller: UserBundle:Profil:album }
user_description:
  path:     /description
  defaults: { _controller: UserBundle:Profil:description }
centreinteret:
  path:     /centreinteret
  defaults: { _controller: UserBundle:Profil:centreinteret }

Compte_homepage:
  path:     /{id}/compte
  defaults: { _controller: UserBundle:Compte:index }

Compte_apropos:
  path:     /{id}/apropos
  defaults: { _controller: UserBundle:Compte:autreApropos }
Compte_demande:
  path:     /{id}/demande
  defaults: { _controller: UserBundle:Profil:demandeAutre }

Compte_album:
  path:     /{id}/album
  defaults: { _controller: UserBundle:Compte:autreAlbum }
message_data:
  path:     /getmessages
  defaults: { _controller: UserBundle:Message:getMessages }

message_data_all:
  path:     /getallmessages
  defaults: { _controller: UserBundle:Message:getAllMessages }
massenger:
  path:     /massenger
  defaults: { _controller: UserBundle:Message:index }

send_message:
  path:     /sendmessage
  defaults: { _controller: UserBundle:Message:sendMessage }
chat:
  path:     /getmembers
  defaults: { _controller: UserBundle:Message:getChatMemebers }
user_monblog:
  path:     /monblog
  defaults: { _controller: UserBundle:Blog:monBlog }
Compte_blog:
  path:     /{id}/blog
  defaults: { _controller: UserBundle:Compte:autreBlog }
recherche_blog:
  path:     /searchblog
  defaults: { _controller: UserBundle:Blog:RechercheBlog }

  admin_recherche