bon_plans_homepage:
  path:     /bonplans
  defaults: { _controller: BonPlansBundle:BonPlan:index }

bon_plans_ajouter_bon_plan:
  path:     /ajouterbonplan
  defaults: { _controller: BonPlansBundle:BonPlan:Create }
bon_plans_afficher_bon_plan:
  path:     /afficherbonplan
  defaults: { _controller: BonPlansBundle:BonPlan:Afficher}

bon_plans_modifier_bon_plan:
  path:     /modifierbonplan/{id}
  defaults: { _controller: BonPlansBundle:BonPlan:Modifier }
bon_plans_supprimer_bon_plan:
  path:     /supprimerbonplan/{id}
  defaults: { _controller: BonPlansBundle:BonPlan:Supprimer }
bon_plan_detail:
  path:     /detail/{id}
  defaults: { _controller: BonPlansBundle:DetailBonPlan:afficher }
bon_plan_supprimer:
  path:     /supprimer/{id}
  defaults: { _controller: BonPlansBundle:DetailBonPlan:deleteBonPlan }
ajax_search:
  path:     /search
  defaults: { _controller: BonPlansBundle:BonPlan:search }
find_by_categorie:
  path:  /findbonsplans/{idCategorie}
  defaults: { _controller: BonPlansBundle:BonPlan:findByCategorie}

like:
  path:  /like/{idBonPlan}
  defaults: { _controller: BonPlansBundle:LikeDislike:Liked}
dislike:
  path:  /dislike/{idBonPlan}
  defaults: { _controller: BonPlansBundle:LikeDislike:Disliked}
unlike:
  path:  /unlike/{idBonPlan}/{idRating}
  defaults: { _controller: BonPlansBundle:LikeDislike:Unliked}
undislike:
  path:  /undislike/{idBonPlan}/{idRating}
  defaults: { _controller: BonPlansBundle:LikeDislike:Undisliked}
